@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Poppins', sans-serif;
}

body {
display: grid;
background-image: url(https://cdn.sanity.io/images/dm4o0ui7/production/ab8622774dfd8bc6b2107656cc1d648ff48279b3-1200x600.png?w=900&h=450&auto=format);
padding: 20px;
margin: auto;

}

header {
   background-color: rgba(103, 100, 126, 0.301);
   display: flex;
   width: 100%;
   min-height: 75px;
   position: fixed;
   top: 0;
   padding: 0px 20px;
   justify-content: space-around;
   align-items: center;
   z-index: 999;

}
.titulo{

    color: rgb(30, 123, 210);
}
nav {
    
    color: rgb(145, 99, 39);
    padding : auto ;
    margin: 0px 20px;
    display: flex;

}
nav>ul{
    display: flex;

}
nav>ul>li{
    list-style: none;
    margin: 20px 16px;

}
nav>ul>li a{
    color: rgb(102, 116, 41); /*Variable var(--color_text-secundary);*/
    font-size: 16px; /*Variable var(--lowText_font_size);*/
    position: relative;
}
nav>ul>li>a:hover{
    color: #3dff08;
}
#transfodo{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    background-color: rgba(240, 248, 255, 0.651);
    align-items: center;
    padding:auto; 
}
#logo {
  padding: 16px;
  position: relative;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;
}

.Imagenes {
    padding: 10px;
}
